@import 'tabs';

bg-color = #c6c6c6
body, html
  height 100%
  background-color bg-color

.wrapper
  background-color bg-color

.uk-container
  max-width 1080px!important

.showcase-content
  position relative
  top -40px
