.uk-tab
  li
    &:not(.uk-active)
      >a
        background-color #6a80a1
        text-shadow: none
        color white
        &:focus, &:hover
          padding-bottom: 19px
    a
      font-weight 600
      padding: 20px 35px 20px 35px